.main-block__img {
  background: url(../../assets/img/mainPage.jpg) center / contain no-repeat;
}

.audioGame__img {
  background: url(../../assets/img/sound.png) center / contain no-repeat;
}

.word__img {
  background: url(../../assets/img/sound_mini.png) center / contain no-repeat;
}

.team-card__img_0 {
  background: url(../../assets/img/0.png) center / contain no-repeat;
}

.team-card__img_1 {
  background: url(../../assets/img/1.png) center / contain no-repeat;
}

.team-card__img_2 {
  background: url(../../assets/img/2.png) center / contain no-repeat;
}