.main-block__img {
  background: url(../../assets/img/how-to-learn-english-at-high-levels-1.png) center / contain
    no-repeat;
}

.audioGame__img {
  background: url(../../assets/img/sound.png) center / contain no-repeat;
}

.word__img {
  background: url(../../assets/img/sound_mini.png) center / contain no-repeat;
}

.team-card__img_0 {
  background: url(../../assets/img/0.png) center / contain no-repeat;
}

.team-card__img_1 {
  background: url(../../assets/img/1.png) center / contain no-repeat;
}

.team-card__img_2 {
  background: url(../../assets/img/2.png) center / contain no-repeat;
}

.team-card__github-icon {
  background: url(../../assets/img/github_mini.png) center / contain no-repeat;
}

.footer__creators-gh {
  background: url(../../assets/img/github_mini_blue.png) center / contain no-repeat;
}

.RSSchool-icon {
  background: url(../../assets/img/RSSchool_yellow.png) center / contain no-repeat;
}

.benefit-card__img_0 {
  background: url(../../assets/img/book-icon.png) center / contain no-repeat;
}

.benefit-card__img_1 {
  background: url(../../assets/img/hard-word-icon.png) center / contain no-repeat;
}

.benefit-card__img_2 {
  background: url(../../assets/img/statistic-icon.png) center / contain no-repeat;
}

.benefit-card__img_3 {
  background: url(../../assets/img/game-icon.png) center / contain no-repeat;
}

.loader__gif {
  background: url(../../assets/img/loader.gif) center / contain no-repeat;
}
