.audioGame {
  max-width: 800px;
  margin: auto;
}

.audioGame__words {
  display: flex;
  gap: 10px;
  text-align: center;
  p {
    background: $color-primary-light;
  }
  p:hover {
    background: $color-2;
    color: $color-primary;
  }
}

.audioGame__words_disable {
  display: flex;
  gap: 10px;
  text-align: center;
  p {
    background: $color-5;
    cursor: default;
  }
  .audioGame__right-answer {
    background: $color-right;
  }
}

.audioGame__skipBtn,
.audioGame__skipBtn_continue {
  width: 150px;
  margin-left: calc(50% - 75px);
  margin-top: 50px;
  &:hover {
    background: $color-hard;
    color: $color-light-xl;
  }
}

.audioGame__skipBtn_continue:hover {
  background: $color-6; 
  color: $color-primary;
}

.audioGame__img {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 0px;
  border-radius: 100px;
  &:hover {
    cursor: pointer;
  }
}

.audioGame__answer {
  color: $color-primary;
  height: 50px;
  width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  &:first-letter {
    text-transform: uppercase;
  }
}

// for results
.audioGame__statistic-wrapper {
  width: 500px;
  height: 500px;
  margin: auto;
  background: $color-light-xl;
  border-radius: 20px;
  padding: 20px 40px;
  .audioGame__btn-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 8px;
    .audioGame__mainPgBtn {
      background: $color-4;
      color: $color-light-xl;
      width: 120px;
    }
    .audioGame__btn-continue {
      background: $color-right;
      color: $color-light-xl;
      width: 100px;
    }
  }
}

.audioGame__statistic {
  height: 430px;
  overflow: auto;
  .audioGame__right-statistic {
    margin-top: 20px;
  }
  .audioGame__wrong-statistic,
  .audioGame__right-statistic {
    display: flex;
    gap: 10px;
    h4 {
      color: $color-dark-s;
      margin-bottom: 25px;
    }
    div {
      font-size: 20px;
      width: 35px;
      height: 25px;
      border-radius: 10px;
      color: $color-light-xl;
      padding: 1px 7px;
    }
    .audioGame__wring-statistic-count {
      background: $color-hard;
    }
    .audioGame__right-statistic-count {
      background: $color-right;
    }
  }
  .audioGame__wrongWords {
    border-bottom: 1px solid $color-dark-s;
  }
  .audioGame__word {
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
    color: $color-dark-xl;
  }
  .word__img {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  p:first-letter {
    text-transform: uppercase;
  }
}