$color-light-xl: #fff;
$color-light-s: #d5d6d2;
$color-primary-light: #fddcc4;
$color-dark-xl: #2f2e33;
$color-dark-s: #858585;
$color-primary: #3a5199;
$color-primary-light: #8ba0df;
$color-additional: #f79928;

$color-1: #b7eee0;
$color-2: #eee1b7;
$color-3: #b7eeb7;
$color-4: #cab7ee;
$color-5: #b7e3ee;
$color-6: #f2f7d5;
$color-hard: #e2a6a6;
$color-right: #abce80;

$font-main: Georgia, 'Century Schoolbook L', serif;
$font-additional: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;

$desktop-width: 1280px;
$tablet-width: 768px;
