$color-light-xl: #fff;
$color-light-s: #d5d6d2;
$color-primary-light: #fddcc4;
$color-dark-xl: #2f2e33;
$color-dark-s: #858585;
$color-primary: #3a5199;
$color-primary-light: #8ba0df;
$color-additional: #f79928;

$font-main: Georgia, 'Century Schoolbook L', serif;
$font-additional: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;

$desktop-width: 1280px;
$tablet-width: 768px;
