.outside {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 4;
  visibility: hidden;
}

.popup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  background: #89A7E2;
  z-index: 5;
  color: black;
  border-radius: 10px;
  visibility: hidden;
}

.body__item {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.mail {
  margin-left: 40px;
}

.name {
  margin-left: 33px;
}

label {
  font-size: 2rem;
}

.popup__input {
  min-width: 260px;
  height: 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  padding-left: 10px;
}

.popup__close {
  position: absolute;
  top: -30px;
  right: -25px;
  background: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 52px;
  color: black;
  border: 2px solid #3a5199;
  border-radius: 100px;
  transition: background .3s linear;

  &:hover {
    cursor: pointer;
    border: 2px solid #FDDCC4;
    background: #FDDCC4;
  }
}

.popupButtons {
  margin-top: 3rem;
}

.popup__btn:first-child {
  margin-right: 2rem;
}

.popup__body {
  position: relative;
}

.error {
  color: red;
  text-align: center;
  font-size: 12px;
}

.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}