.about {
  background: $color-2;
  padding-bottom: 40px;
  .about-wrapper {
    padding-top: 60px;
    width: 700px;
    margin: auto;
    .about__header {
      width: 290px;
      margin: auto;
      margin-bottom: 20px;
      color: $color-primary;
    }
  }
}

.team-card {
  color: $color-primary;
  border-radius: 20px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  padding: 20px;
  .team-card__img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  .team-card__content{
    text-align: justify;
    width: 440px;
    padding: 5px;
    .team-card__name {
      color: $color-dark-xl;
    }
    .team-card__header {
      margin-top: 5px;
      margin-bottom: 2px;
      display: inline-block;
      padding: 1px 10px;
      width: 120px;
      background: $color-primary-light;
      color: $color-light-xl;
      border-radius: 100px;
    }
  }
}

.team-card_0 {
  background: $color-6;
  .team-card__img {
    margin-top: 25px;
  }
}

.team-card_1 {
  display: flex;
  flex-direction: row-reverse;
  background: $color-5;
  .team-card__img {
    margin-top: 20px;
  }
}

.team-card_2 {
  background: $color-3;
}