.about {
  background: $color-light-xl;
  padding-bottom: 40px;
  .about-wrapper {
    max-width: 740px;
    @include media-tablet {
      max-width: 520px;
    }
    padding: 60px 20px 0;
    margin: auto;
    .about__header {
      max-width: 290px;
      margin: auto;
      text-align: center;
      margin-bottom: 20px;
      color: $color-primary;
    }
  }
}

.team-card {
  color: $color-primary;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid $color-primary-light;
  .team-card__img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  .team-card__content {
    text-align: justify;
    width: 420px;
    padding: 5px;
    .team-card__name {
      color: $color-dark-xl;
    }
    .team-card__header {
      margin-top: 5px;
      margin-bottom: 2px;
      display: inline-block;
      padding: 1px 10px;
      width: 120px;
      background: $color-primary-light;
      color: $color-light-xl;
      border-radius: 100px;
    }
  }
  .team-card__main-info {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    padding-bottom: 7px;
    .team-card__github-icon {
      width: 25px;
      height: 25px;
    }
  }
}

.team-card_1 {
  display: flex;
  flex-direction: row-reverse;
}
