.main-block {
  
  margin: auto;
  margin-top: 40px;
  width: 900px;
  height: 500px;
  display: flex;
  padding-left: 20px;
  // border: 1px solid $color-primary;
}

.main-block__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 60px 0px;
  width: 50%;
  h2 {
    color: $color-primary;
  }
  h4 {
    margin-top: 10px;
    color: $color-dark-s;
    text-align: justify;
  }
  p {
    color: $color-dark-xl;
    text-align: justify;
  }
  button {
    margin-top: 20px;
  }
}

.main-block__img {
  width: 70%;
  height: 500px;
}

// next block

.benefit-cards {
  // border: 1px solid $color-primary;
  margin: auto;
  width: 900px;
  margin-top: 100px;
  margin-bottom: 40px;
  h3 {
    color: $color-primary;
    margin: auto;
    margin-top: 40px;
    width: 600px;
    text-align: center;
  }
  h4 {
    color: $color-additional;
    margin: auto;
    margin-top: 10px;
    width: 800px;
    text-align: center;
  }
}

.benefit-card__content {
  flex-wrap: wrap;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 60px;
  gap: 30px;
  .benefit-card {
    border: 1px solid $color-primary-light;
    border-radius: 10%;
    width: 48%;
    padding: 20px 30px 40px;
    .benefit-card__img {
      margin: auto;
      width: 85px;
      height: 85px;
    }
    h4 {
      color: $color-primary;
      width: 100%;
      margin-top: 25px;
    }
    p {
      color: $color-dark-xl;
      margin-top: 10px;
      text-align: justify;
    }
  }
}
