.container {
  max-width: 1180px;
  margin: 0 auto;
  @include flexible;
}

.sprintGame {
  background: linear-gradient(0deg, rgb(184 151 237) 0%, rgb(148, 187, 233) 100%);
  border-radius: 10px;
  width: 900px;
  @include flexible;
  flex-direction: column;
  position: relative;
}

.sprint__card {
  margin-top: 35px;
  max-width: 300px;
  border-radius: 10px;
  background-color: transparent;
  @include flexible;
  flex-direction: column;
}

.word {
  color: black;
  font-size: 22px;
  font-weight: 500;
}

[data-word='en-word'] {
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: 500;
}

.words {
  position: relative;
  margin-bottom: 2rem;
}

.buttons {
  margin: 2rem 0;

  .btn-danger {
    margin-right: 4rem;
  }

  .primary-button {
    background-color: #b7eeb7;
  }
}

.sprint__btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
}

.sprintGame {
  position: relative;
  &::after {
    content: '';
    width: max(100% - 60px);
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 80px;
    right: 30px;
  }
}

.combo {
  @include flexible;
  margin-bottom: 2rem;
}

.combo__item {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: white;

  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.score {
  position: absolute;
  top: 35px;
  right: 20px;
}

.score__title,
.score__count {
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  color: hsl(236deg 93% 42%);
  filter: drop-shadow(0 0 5px hsl(336deg, 100%, 60%));
  transition: 0.5s ease-in-out;
}
.combo {
  .active {
    background-color: greenyellow;
  }
}

.additionalScore {
  position: absolute;
  top: 37px;
  right: 310px;
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  color: hsl(236deg 93% 42%);
  filter: drop-shadow(0 0 5px hsl(336deg, 100%, 60%));
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 600px) {
  .progressbar {
    top: -160px;
    left: 35%;
    background-color: #686868;
    border-radius: 100%;
  }

  .score {
    top: 5px;
  }
}