// for change level

.main_games {
  height: calc(100vh - 65px);
  background-color: $color-1;
  padding: 0 20px;
  padding-top: calc(50vh - 65px - 150px - 40px);
}

.games__lvl-item {
  width: 70px;
  height: 60px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}

.games {
  background-color: $color-primary-light;
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 40px 20px;
  border-radius: 30px;
  .games__header {
    color: $color-6;
    margin-bottom: 20px;
  }
  .games__description {
    color: $color-dark-xl;
  }
  .games__lvls {
    margin-top: 10px;
  }
  .games__lvl-item {
    color: $color-primary;
  }
  .games_check-lvl {
    margin-top: 5px;
  }
}

.games:last-child [data-lvl='1'] {
  background: $color-1;
}

[data-lvl='2'] {
  background: $color-2;
}

[data-lvl='3'] {
  background: $color-3;
}

[data-lvl='4'] {
  background: $color-4;
}

[data-lvl='5'] {
  background: $color-5;
}

[data-lvl='6'] {
  background: $color-6;
}

.main_sprint {
  background: $color-2;
  .sprint {
    background: $color-4;
  }
  [data-lvl='1'] {
    background: $color-6;
  }

  [data-lvl='2'] {
    background: $color-5;
  }

  [data-lvl='3'] {
    background: $color-light-s;
  }

  [data-lvl='4'] {
    background: $color-3;
  }

  [data-lvl='5'] {
    background: $color-2;
  }

  [data-lvl='6'] {
    background: $color-1;
  }
}

// for results
.game-result__statistic-wrapper {
  max-width: 500px;
  height: 500px;
  margin: auto;
  background: $color-light-xl;
  border-radius: 20px;
  padding: 20px 20px 20px 40px;
  .game-result__btn-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 8px;
    .game-result__main-pg-btn {
      background: $color-4;
      color: $color-light-xl;
      width: 120px;
    }
    .game-result__btn-continue {
      background: $color-right;
      color: $color-light-xl;
      width: 100px;
    }
  }
}

.game-result__statistic {
  height: 430px;
  overflow: auto;
  .game-result__right {
    margin-top: 20px;
  }
  .game-result__wrong,
  .game-result__right {
    display: flex;
    gap: 10px;
    h4 {
      color: $color-dark-s;
      margin-bottom: 25px;
    }
    div {
      font-size: 20px;
      width: 35px;
      height: 25px;
      border-radius: 10px;
      color: $color-light-xl;
      padding: 1px 7px;
    }
    .game-result__wring-statistic-count {
      background: $color-hard;
    }
    .game-result__right-count {
      background: $color-right;
    }
  }
  .game-result__wrong-words {
    border-bottom: 1px solid $color-dark-s;
  }
  .game-result__word {
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
    color: $color-dark-xl;
  }
  .word__img {
    min-height: 20px;
    min-width: 20px;
    cursor: pointer;
  }
  p:first-letter {
    text-transform: uppercase;
  }
}

@media screen and (max-width: 660px) {
  .games__lvls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .games__lvl-item {
    margin: 10px 30px;
  }

  .games__description {
    font-size: 16px;
  }
}
