header {
  background: $color-primary-light;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 15px 20px;
}

.logo {
  color: $color-light-xl;
  cursor: pointer;
}

.nav {
  margin-left: 25px;
  flex-grow: 1;
}

ul {
  display: flex;
  gap: 15px;
  color: $color-6;
  li {
    cursor: pointer;
  }
}

.user-area {
  display: flex;
  gap: 15px;
  align-items: center;
}
